{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block content %}


<section id="login_body">

     <div class="login_box">
          {% if messages %}
           <h3 class="error">{{ messages }}</h3>
          {% endif %}
       
          <form action="{% url 'admin_login' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" required placeholder="Enter Email" ><br>
            <input type="password" name="password" required placeholder="Password"><br>
            <button type="submit">Login</button>
          </form>
     </div>

</section>

{% endblock %}