{% extends "base.html" %}

{% load static %}

{% block title %}
Login Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

   <section class="login-section">
    <div class="login-card">
      <form action="{% url 'login_user' %}" method="POST" enctype="multipart/form-data" class="login-form">
        {% csrf_token %}
        <h2>Welcome Back</h2>
        <p>Please log in to continue</p>

        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="your@email.com" required autocomplete="off">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="••••••••" required autocomplete="new-password">

        <button type="submit">Log In</button>
      </form>
    </div>
  </section>



{% endblock %}
