<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
       <a href="{% url 'first' %}">First 5 Name</a> <br> <br>
       <a href="{% url 'last' %}">Last 5 Name</a> <br> <br>
       <a href="{% url 'asc' %}">All Name In Asc</a> <br> <br>
       <a href="{% url 'desc' %}">All Name In Desc</a> <br> <br>
       <a href="{% url 'all' %}">All Student</a> <br> <br>


       {% if data %}
       
       <h2>Student List</h2>
       <table border="1">
           <tr>
               <th>S.No</th>
               <th>Name</th>
               <th>Email</th>
               <th>Contact</th>
               <th>City</th>
           </tr>
   
           {% for i in data %}
           <tr>
               <td>{{ forloop.counter }}</td>
               <td>{{ i.stu_name }}</td>
               <td>{{ i.stu_email }}</td>
               <td>{{ i.stu_contact }}</td>
               <td>{{ i.stu_city }}</td>
           </tr>
           {% endfor %}
       </table>
       {% endif %}
   
    </section>
    
</body>
</html>