<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- single or perticular data -->
   <!-- <h1> {{name}}</h1>
   <h1> {{age}}</h1>
    <h1>{{city}}</h1> -->
        <!-- single or perticular data -->

        <!-- for all data -->
          <!-- {{key1}} -->
       <!-- for all data -->


       <!-- for multiple data -->

          <h4>{{key1}}</h4>
          <h4>{{key2}}</h4>
       <!-- for multiple data -->

</body>
</html>