{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<div id="aboutdiv">

    <div>
            <h5>The Work Load Method</h5>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>View More</button>
    </div>

    <div>
        <h5>The Work Load Method</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div>
        <h5>The Work Load Method</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div>
        <h5>The Work Load Method</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div>
        <h5>The Work Load Method</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div>
        <h5>The Work Load Method</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>









</div>

{% endblock %}