{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<div id="aboutdiv">

    <div style="background-image: url('/static/image/django1.jpeg'); background-position: center; background-size: cover;">
            <h5>The Work Business</h5>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>View More</button>
    </div>

    <div style="background-image: url('/static/image/django2.jpeg'); background-position: center; background-size: cover;">
        <h5>Property To Visit</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div style="background-image: url('/static/image/django3.jpeg'); background-position: center; background-size: cover;">
        <h5>Dream Houses</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div style="background-image: url('/static/image/django4.jpeg'); background-position: center; background-size: cover;">
        <h5>Visit To View</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div style="background-image: url('/static/image/django5.jpeg'); background-position: center; background-size: cover;">
        <h5>Real Estate deal</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>

    <div style="background-image: url('/static/image/django6.jpeg'); background-position: center; background-size: cover;">
        <h5>Know About Company</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <button>View More</button>
    </div>


</div>

{% endblock %}