{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}Hello, world!{% endblock %}</title>

    {% block css %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
  </head>

  <body>

    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light" style="position: relative;">
      <div class="container-fluid">
    
        <a href="#" class="text-decoration-none text-dark">
          <span style="font-size: 25px; color: #0d6efd;">P</span>roperty-<span style="font-size: 25px; color: #0d6efd;">D</span>eal
        </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
          <!-- Close Button -->
          <button type="button" class="btn-close ms-auto mb-3 d-lg-none" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-label="Close"></button>
    
          <ul id="ulhead" class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if userdata %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home1' pk=userdata.id %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'about1' pk=userdata.id %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'service1' pk=userdata.id %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' pk=userdata.id %}">DashBoard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Logout</a>
              </li>
              <li class="userdetail">
                <span>{{userdata.name}}</span>
                <img src="{{userdata.image.url}}" alt="">
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'service' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'registration' %}">Registration</a>
              </li>
            {% endif %}
          </ul>
    
        </div>
    
      </div>
    </nav>
    

    <!-- Content Block -->
    <div class="container my-5">
      {% block content %}
        <h1>This is the Home page</h1>
      {% endblock %}
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="footmain">
        <div class="footersection">
          <h3>Office</h3>
          <h4>New York</h4>
          <h4>Canada</h4>
          <h4>Mexico</h4>
        </div>
        <div class="footersection">
          <h3>Work</h3>
          <h4>Details</h4>
          <h4>Buy Property</h4>
          <h4>Sell Property</h4>
        </div>
        <div class="footersection">
          <h3>Teams</h3>
          <h4>Manager</h4>
          <h4>Executive</h4>
          <h4>Team Head</h4>
        </div>
        <div class="footersection">
          <h3>Social Media</h3>
          <h4>Youtube</h4>
          <h4>Whatsapp</h4>
          <h4>Instagram</h4>
        </div>
      </div>
      <div class="textcenter">
        <h5 class="footerbrand">NEW YORK, USA | 123@ Deal Property</h5>
      </div>
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

  </body>
</html>
