{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<a href="{% url 'alldata1' pk=userdata.id %}" style="text-decoration: none;">Admin Dashboard</a> &nbsp; &nbsp;


<a href="{% url 'dashboard' pk=userdata.id %} ">Data</a> &nbsp; &nbsp;

<a href="{% url 'first' pk=userdata.id %}">First 5 Data</a>&nbsp; &nbsp;
<a href="{% url 'last' pk=userdata.id %}">Last 5 Data</a>&nbsp; &nbsp;
<a href="{% url 'asc' pk=userdata.id %}">Data IN ASC</a>&nbsp; &nbsp;
<a href="{% url 'desc' pk=userdata.id %}">Data IN DESC</a>&nbsp; &nbsp;
<a href="{% url 'alld' pk=userdata.id %}">All Data</a> 


{% if userdata %}
    {% if key %}
    
    <div class="userbox">

      <table class="usertable" border="1">
      <tr>
        <th>S.No</th>
        <th>Item</th>
        <th>Shop</th>
        <th>Quantity</th>
        <th>Color</th>
      </tr>
      {% for i in key %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ i.item }}</td>
          <td>{{ i.shop }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.color }}</td>
        </tr>
      {% endfor %}
    </table>

    </div>
    {% else %}

    <div class="userbox">
      <h2>Welcome, {{ userdata.name }}</h2>

      <table class="usertable" border="1">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Education</th>
          <th>Details</th>
          {% if userdata.image %}
            <th>Profile Picture</th>
          {% endif %}
          {% if userdata.resume %}
            <th>Resume</th>
          {% endif %}
        </tr>
        <tr>
          <td>{{ userdata.email }}</td>
          <td>{{ userdata.phone }}</td>
          <td>{{ userdata.dob }}</td>
          <td>{{ userdata.gender }}</td>
          <td>{{ userdata.sub }}</td>
          <td>{{ userdata.des }}</td>
          {% if userdata.image %}
            <td><img src="{{ userdata.image.url }}" alt="Profile" width="100" height="100" style="object-fit: cover;"></td>
          {% endif %}
          {% if userdata.resume %}
            <td><a href="{{ userdata.resume.url }}" target="_blank">Download</a></td>
          {% endif %}
        </tr>
      </table>
    </div>
    {% endif %}



{% endif %}




{% endblock %}
