{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="dashboard-title">Dashboard</h1>
<div class="dashboard-links">
  <a href="{% url 'alldata1' pk=userdata.id %}" class="dashboard-link">Admin Dashboard</a>
  <a href="{% url 'dashboard' pk=userdata.id %}" class="dashboard-link">User Data</a>
  <a href="{% url 'first' pk=userdata.id %}" class="dashboard-link">First 5 Data</a>
  <a href="{% url 'last' pk=userdata.id %}" class="dashboard-link">Last 5 Data</a>
  <a href="{% url 'asc' pk=userdata.id %}" class="dashboard-link">Data IN ASC</a>
  <a href="{% url 'desc' pk=userdata.id %}" class="dashboard-link">Data IN DESC</a>
  <a href="{% url 'alld' pk=userdata.id %}" class="dashboard-link">All Data</a>
</div>



{% if userdata %}
    {% if key %}
    
    <div class="userbox">

      <table class="usertable" border="1">
      <tr>
        <th>S.No</th>
        <th>ID</th>
        <th>Item</th>
        <th>Shop</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for i in key %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{i.id}}</td>
          <td>{{ i.item }}</td>
          <td>{{ i.shop }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.color }}</td>
           <td>
           <form action="{% url 'edit' pk1=userdata.id pk2=i.id %}">
            <button class="btn-delete">Edit</button>
          </form>
         </td>
         <td><a href="{% url 'delete' pk1=userdata.id pk2=i.id %}" class="btn-delete"
                       onclick="return confirm('Are you sure you want to delete this item?');" style="text-decoration: none;">Delete</a></td>

        
        </tr>
      {% endfor %}
    </table>

    {% elif edit_data %}
     <form action="{% url 'edit_data' pk1=userdata.id pk2=edit_data.id %}" method="post">
     
       {% csrf_token %}
       <input type="text" name='item' value={{edit_data.item}}>
       <input type="text" name='shop' value={{edit_data.shop}}>
       <input type="number" name='quantity' value={{edit_data.quantity}}>
       <input type="text" name='color' value={{edit_data.color}}>
     
       <input type="submit" value="Update">
     </form>


    </div>
    
    {% else %}

    <div class="userbox">
      <h2>Welcome, {{ userdata.name }}</h2>

      <table class="usertable" border="1">
        <tr>
          <th>Email</th>
          <th>Phone</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Education</th>
          <th>Details</th>
          {% if userdata.image %}
            <th>Profile Picture</th>
          {% endif %}
          {% if userdata.resume %}
            <th>Resume</th>
          {% endif %}
        </tr>
        
        <tr>
          <td>{{ userdata.email }}</td>
          <td>{{ userdata.phone }}</td>
          <td>{{ userdata.dob }}</td>
          <td>{{ userdata.gender }}</td>
          <td>{{ userdata.sub }}</td>
          <td>{{ userdata.des }}</td>
          {% if userdata.image %}
            <td><img src="{{ userdata.image.url }}" alt="Profile" width="100" height="100" style="object-fit: cover;"></td>
          {% endif %}
          {% if userdata.resume %}
            <td><a href="{{ userdata.resume.url }}" target="_blank">Download</a></td>
          {% endif %}

        

        </tr>
      </table>
    </div>
    {% endif %}



{% endif %}





{% endblock %}
