{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}




{% block content %}
<div id="homediv">

    <p class="home1">Real estate property is a valuable investment that <br> builds wealth, offers security, and grows over time. Whether buying a home or investing <br> in commercial spaces, owning property provides stability and the opportunity for steady financial returns in the future.</p>
   
    <h3 class="home3">The Places Are Waiting For You</h3>
    <p class="home4">Search Here <input type="search"> <button>Search</button></p>
    <h1 class="home5">Need Property Find Here</h1>

</div>

<div id="home2div">

    <div class="home2div1">
        <video autoplay muted loop playsinline class="bg-video">
          <source src="{% static 'video/djangovid.mp4' %}" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div class="overlay-content">
          <h1>Welcome to My Site</h1>
          <p>Engaging content goes here</p>
        </div>
      </div>
      


    <div class="home2div2">
        <h1><acronym title="">About Property</acronym></h1>
        "Real estate property is one of the most reliable investments, offering stability, long-term growth, and the potential for passive income. Whether it's residential, commercial, or land development, owning property not only secures your financial future but also provides a tangible asset that often appreciates with time and demand."        <button>Search Details</button>
    </div>
</div>



{% endblock  %}

