{% extends "base.html" %}

{% load static %}

{% block title %}
Login Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}
<h1 class="loginhead">This Is Login Section</h1>

{% if msg %}
  <h3 class="errormsg">{{ msg }}</h3>
{% endif %}

<div class="logindiv">
  <form action="{% url 'logindata' %}" method="post" class="loginform">
    {% csrf_token %}
    
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Enter your email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>

    <input type="submit" value="Login">
  </form>
</div>



{% endblock%}