{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<section id="sec3">

      <h1 class="sec3head"> <acronym title="">Our Services</acronym></h1>

      <div class="sdiv1"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, architecto.</p></div>

      <div class="sdivl1"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, architecto.</p></div>

      <div class="sdivr1"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, architecto.</p></div>

      <div class="sdivl2"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, architecto.</p></div>

      <div class="sdivr2"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, architecto.</p></div>






  </section>
{% endblock%}