{% extends "base.html" %}

{% load static %}

{% block title %}
Home Page
{% endblock  %}

{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<section id="sec3">

  

      <h1 class="sec3head"> <acronym title="">Our Services</acronym></h1>

      <div class="sdiv1"><p>Connect with verified sellers and buyers securely through our professional platform</p></div>

      <div class="sdivl1"><p>Find your dream home quickly with our trusted real estate website</p></div>

      <div class="sdivr1"><p>Explore apartments, houses, and lands easily through our advanced search filters</p></div>

      <div class="sdivl2"><p>View high-quality images, virtual tours, and property videos before visiting</p></div>

      <div class="sdivr2"><p>Experience a fast, smooth, and reliable journey to property ownership</p></div>



  </section>
{% endblock%}